.Navbar-container {
	width: 100vw;
	max-width: 1000px;
	margin: 0 auto;
}
.Navbar {
	width: 100%;
	max-width: 1000px;
	height: 5vh;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
	background-color: white;
}
.Navbar a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.Logo {
	margin-left: 4px;
	font-weight: 600;
}
.Navbar-link {
	margin: 0 4px;
	font-size: inherit;
}
