.Palette-list-container {
	width: 100vw;
	max-width: 760px;
	height: 95vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.Mini-Palette {
	margin: 16px;
	width: 348px;
	height: 288px;
	display: flex;
	flex-direction: column;
	position: relative;
}
.Mini-Palette:hover .deleteIcon {
	opacity: 0.9;
}
.deleteIcon {
	color: white;
	background-color: #eb3d30;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	z-index: 1;
	opacity: 0;
}
.Mini-Palette-img {
	object-fit: cover;
	width: 100%;
	height: 232px;
	border-radius: 2px;
}
.Mini-Palette-Colors-List {
	display: flex;
	justify-content: space-between;
}
.Mini-Palette-Color-Box {
	/* flex: 1 1 10px; */
	/* margin: 1px; */
	width: 66px;
	height: 52px;
	border-radius: 2px;
}
